@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&display=swap');

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-app-bg: #09090b;
  --color-app-card: #18181b;
  --color-app-accent: #3b82f6;
}

body {
  background-color: var(--color-app-bg);
  color: #f4f4f5;
  font-family: var(--font-sans);
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.snap-y-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100dvh;
}

.snap-card {
  scroll-snap-align: start;
  height: 100dvh;
}
